<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

</head>
<body>
    <div id="container">

        <header>
            <!-- Page Header -->
            <h1 class="page-header">Patrick Earl</h1>
        </header>
        <!-- Nav Bar -->
        <nav>
            <!-- <ul>
                <li>Ye</li>
            </ul> -->
        </nav>


        <main>
        {% block content %}
        {% endblock %}
        </main> 

        <footer>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Random javascript for all pages -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>