/*
"Dark Horse" color scheme
Source: https://hookagency.com/website-color-schemes/

Are ya yellow?!: #feda6a

Silver Fox: #d4d4dc

Deep Matte Grey: #393f4d

Dark Slate: #1d1e22
*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 80%;
    margin: auto;
    background-color: #1d1e22;
}

/* IDs */
#container {
    display: grid;
    justify-items: center;

    width: 100%;
    height: 100vh;
    /* height: 250px; */
    grid-template-areas: "head head head head"
                         "content content . nav"
                         "footer footer footer footer";

    grid-template-rows: 100px 80vh 10vh;
    grid-template-columns: 1fr 5px 200px;
    grid-gap: 5px;
}

/* Mobile Version */
@media (max-width: 768px) {
    #container {
        grid-template-areas: 
            "head"
            "nav"
            "content"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 
            auto /* Header */
            minmax(75px, auto) /* Navbar */
            1fr /* Content */
            auto; /* Footer */
    }

    nav, aside {
        margin: 0;
    }
}

/* Classes */

.page-header {

    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 15px;

    width: 40%;
    background-color: #d4d4dc;
    color: #0f0f0f;
    font-size: 60px;
    
    text-align: center;
}


#container > header {
    width: 100%;
    grid-area: head;
    height: auto;
}

#container > nav {
    grid-area: nav;

    display: grid;
    
    align-items: center;
    justify-content: center;


    padding: 10px;
    /* background-color: #393f4d; */
}

#container > nav > ul {
    list-style: none;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    
}

nav > ul > li a {
    display:block;
    
    color: #0f0f0f;
    background-color: #feda6a;

    padding: 10px;
    margin: 5px 10px;
    
    text-decoration: none;

    text-align: center;

    border-radius: 10px;
}

nav > ul > li a:hover {
    background-color: #e8c761;
}

#container > main {
    grid-area: content;
    
    display: grid;

    justify-content: center;
    align-content: center;

    grid-template-areas: 
        "card1 card2"
        "card3 card4";

    width: 100%;
    padding: 20px;

    border-radius: 20px;

    /* background-color: #393f4d; */
    color: white;
    text-align: center;
}


#container > footer {
    grid-area: footer;
    width: 100%;
    height: auto;
    /* background-color: pink; */
}

